@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");

body {
  font-family: "Sora", sans-serif;
}

.item-button button {
  margin-top: 20px;
  width: 180px;
  background-color: rgb(34, 78, 9);
  color: white;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.spinner-border{
  width: 6rem;
  height: 6rem;
}

.category{
  border: 2px solid gray;
  margin-right: 25px;
  margin-bottom: 25px;
  padding: 10px;
  cursor: pointer;
}

.category h6{
  margin-bottom: 0px;
}

.category img{
  margin-left: 10px;
}

.category-active{
  border: 2px solid green;
  background-color: azure;
}

/* Register page */
.register{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.register input{
  width: 400px;
}

.register-form{
  background-color: rgba(101, 138, 169, 0.45);
  padding: 20px;
  box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
}

.register-form h2 {
  padding: 10px;
  text-align: center;
}

.register-form h3{
  margin-top: -10px;
  text-align: center;
}